extends layout
block content
  h1= title
  form(id='DeerForm', action="/resource/Deer", method="POST")
    div.form-group
        label.DeerAttr(for='Deer_type') Deer type
        input#Deer_type(type='text', Name='Deer_type')
    div.form-group
        label.DeerAttr(for='Deer_size') Deer Deer_size
        input#Deer_size(type='number', Name='Deer_size')
    div.form-group
        label.DeerAttr(for='Deer_Name') Deer Deer_Name
        input#Deer_Name(type='text', Name='Deer_Name')
    input(type="submit")
  script.
        document.forms['DeerForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
        });
        });